@model Stucore.Models.Students

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index"  asp-controller="Students" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentname" class="control-label"></label>
                <input asp-for="studentname" class="form-control" />
                <span asp-validation-for="studentname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentage" class="control-label"></label>
                <input asp-for="studentage" class="form-control" />
                <span asp-validation-for="studentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptname" class="control-label"></label>
                <input asp-for="deptname" class="form-control" />
                <span asp-validation-for="deptname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
